<div *ngIf="tasks?.length" class="container-sm">
  <!-- Task Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-task-form [inputTask]="tasks[0]" *ngIf="editMode"></app-task-form>
      </div>
    </div>
  </div>
</div>
  <!-- Comment Modal -->
  <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-comment-form [selectedComment]="selectedComment" *ngIf="editMode"></app-comment-form>
        </div>
      </div>
    </div>
  </div>
  <h3>Task Details</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label >Title</label>
        <input type="text" class="form-control" value="{{tasks[0].task.title}}" readonly >
      </div>
      <div class="form-group">
        <label >Created Date</label>
        <input type="text" class="form-control" value="{{tasks[0].task.createdDate}}" readonly >
      </div>
      <div class="mb-3">
        <label class="form-label">Required By Date</label>
        <input type="text" class="form-control" value="{{tasks[0].task.requiredByDate}}" readonly >
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="3" readonly >{{tasks[0].task.taskDescription}}</textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label">Status</label>
        <input type="text" class="form-control" value="{{tasks[0].taskStatus.statusName}}" readonly >
      </div>
      <div class="mb-3">
        <label class="form-label">Task Type</label>
        <input type="text" class="form-control" value="{{tasks[0].taskType.typeName}}" readonly >
      </div>
      <div class="mb-3">
        <label class="form-label">Assigned To</label>
        <input type="text" class="form-control" value="{{tasks[0].user.userName}}" readonly >
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-2">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="editClick(tasks[0])" >
      Edit Task
    </button>
        <hr>
    </div>
    <div class="mb-2">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentModal"
      (click)="addNewComment()" >
          Add new comment
        </button>
    </div> 
  </div>
  <h3>Comments</h3>
  <div class="row">
    <div class="mb-3">
      <h5>Search for comments</h5>
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off">
    </div>
    <div> 
  </div>
  <ng-container *ngIf="( comments | filter : searchText) as result">
    <div *ngFor="let comment of comments | filter:searchText">
      <div class="card text-center">
        <h5 class="card-header">{{comment.commentType.typeName}}</h5>
        <div class="card-body">
          <p class="card-text">{{comment.comment.commentContent}}</p>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#commentModal" (click)="editClick(comment)" data-backdrop="static" data-keyboard="false">
            Edit
        </button>
        </div>
        <div class="card-footer text-muted">
          <i>Comment date: </i>{{comment.comment.createdDate}}
        </div>
      </div>
      <hr>
    </div>
    <p *ngIf="result.length === 0">No Result</p>  
  </ng-container>
</div>

<div *ngIf="!tasks?.length" class="container-md">
  <h1>No task found!</h1>
</div>